body {
    font-family: monospace;
    font-size: 20px;
}

.game {
    position: relative;
    background-image: url("https://bit.ly/pokemonbg");
    background-size: 100% 100%;
    border: 3px solid black;
    border-radius: 8px 8px 0 0;
    height: 540px;
    width: 1344px;
}

.pokemon:hover {
    transform: scale(1.2);
}

.player {
    position: relative;
    height: 192px;
}

.player .stats {
    position: absolute;
    top: -100px;
    right: 820px;
    width: 320px;
}

.player .pokemon {
    position: absolute;
    left: 250px;
    top: 50px;
    width: 160px;
}

.opponent {
    position: relative;
    height: 300px;
}

.opponent .stats {
    position: absolute;
    top: 96px;
    left: 850px;
    width: 320px;
}

.opponent .pokemon {
    position: absolute;
    top: 230px;
    right: 270px;
    width: 100px;
}

.box {
    position: fixed;
    top: 554px;
    padding: 8px;
    background: #333;
    border: 3px solid black;
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: #fff;
    height: 115px;
    width: 1325px;
}

.box .message {
    position: relative;
    float: left;
    font-size: 24px;
    width: 50%;
}

.box .continue {
    position: absolute;
    margin-top: 30px;
    float: left;
    width: 25%;
    height: 100%;
}

.box .continue button {
    position: relative;
    float: left;
    background: #666;
    border: 3px solid #888;
    border-radius: 4px;
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    line-height: 14px;
    margin: 4px;
    padding: 16px;
    outline: none;
}

.box .continue button:hover {
    background: #777;
    border-color: #999;
}

.box .continue button:active {
    background: #555;
    border-color: #666;
}

.box .actions {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.box .actions button {
    position: relative;
    float: left;
    background: #666;
    border: 3px solid #888;
    border-radius: 4px;
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    line-height: 14px;
    margin: 4px;
    padding: 16px;
    width: calc(50% - 8px);
    height: calc(50% - 8px);
    outline: none;
}

.box .actions button:hover {
    background: #777;
    border-color: #999;
}

.box .actions button:hover:before {
    background-color: rgb(84, 84, 84);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 10% 50%);
    animation-name: finger;
    animation-duration: 0.35s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes finger {
    0% {
        left: -55px;
    }

    100% {
        left: -75px;
    }
}

.box .actions button:active {
    background: #555;
    border-color: #666;
}

.stats {
    background: #111;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    padding: 12px;
}

.music button {
    width: 50px;
    height: 20px;
    border: black 1px solid;
    border-radius: 3px;
}

#myhealth,
#enemyhealth {
    position: relative;
    height: 10px;
    width: 250px;
    border: white 3px solid;
    border-radius: 3px;
    margin-right: 20px;
    display: inline-block;
}

#myhealthbar,
#enemyhealthbar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: lightgreen;
}

.stats .pokeballs {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.stats .pokeballs .pokeball {
    position: relative;
    float: left;
    background-image: url("https://bit.ly/pokeballimg");
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.stats .name {
    font-weight: bold;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
